[submodule "config-server"]
	path = config-server
	url = https://github.com/Seenathul-Ilma/librasys-config-server.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/Seenathul-Ilma/librasys-eureka-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Seenathul-Ilma/librasys-api-gateway.git
